<!DOCTYPE html>
<html>
<style>
.mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
</style>
<body>	

  <h1>Welcome</h1>

<script>
//Make the DIV element draggagle:

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>


  <form action="/logout/{{ sid }}" method="POST">
    <input type="submit" value="Logout" >
  </form>  
  <p>Here you can connect to a container!</p>

  <form action="/add/container/{{ username }}/{{ sid }}" method="POST">
    <input type="submit" value="Add container!">
  </form>  
  
  <form action="/remove/container/{{ username }}/{{ sid }}" method="POST">
    <input type="number" name="id" placeholder="0">
    <input type="submit" value="Remove container">
  </form>  
  
  <form action="/add/network/{{ username }}/{{ sid }}" method="POST">
    <input type="text" name="network" placeholder="pineapple">
    <input type="submit" value="Add Network!">
  </form>  
  
  <form action="/remove/network/{{ username }}/{{ sid }}" method="POST">
    <input type="number" name="id" placeholder="0">
    <input type="submit" value="Remove network">
  </form>  
  
  <form action="/add/network/container/{{ username }}/{{ sid }}" method="POST">
    <input type="number" name="Container" placeholder="Container Id">
    <input type="number" name="Network" placeholder="Network Id">
    <input type="submit" value="Add Container to Network">
  </form>  
  
  <form action="/remove/network/container/{{ username }}/{{ sid }}" method="POST">
    <input type="number" name="Container" placeholder="Container Id">
    <input type="number" name="Network" placeholder="Network Id">
    <input type="submit" value="Remove Container from Network">
  </form>  

<h4>Networks</h4> 
{% for id,network in networks.items() %}
{{ id }}: {{network}}<br/>
{% endfor %}
  
  {% for id,container in containers.items() %}
  <div id="{{ id }}" class="mydiv">
  <h3>container #{{ id }}</h3>
  <iframe height="500" width="749" src={{ container }} >
  </iframe>
  </div>
  <script> 		
   	dragElement(document.getElementById(("{{ id }}")));
  </script>
  {% endfor %}


</body>
</html>

